@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;700&display=swap");

body {
  // font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  background-color: var(--primary-white);
}
